:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

form {
  display: flex;
  flex-direction: column;
}

.error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.error-container span {
  color: var(--tomato);
  font-weight: 500;
  font-size: 13px;
}

.err {
  background-color: hsl(4, 100%, 87%);
  border: 1px solid var(--tomato);
  color: var(--tomato);
}

.noerr {
  background-color: transparent;
  border: 1px solid var(--grey);
  color: var(--dark-slate-grey);
}

label {
  color: var(--dark-slate-grey);
  font-weight: 800;
  font-size: 13px;
}

.email {
  padding: 12px 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

.email:placeholder {
  font-family: "Roboto", sans-serif;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 12px 0;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  padding: 18px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
